@media screen and (width < 1024px) {
  .card-group {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .hamburger {
    display: flex;
    cursor: pointer;
  }

  .navbar {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .navbar ul {
    display: none;
  }

  .site-wrapper-active {
    overflow: hidden;
    transition: all 0.9s ease-in-out;
    background-color: var(#cbd5e1);
    transform: translate(-50%, 20px);
  }

  .intro-content {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  section.intro::after {
    display: none;
  }

  .intro-content-right {
    width: 80%;
  }

  section#about {
    margin: 0 0;
  }

  .about {
    flex-direction: column;
    gap: 2rem;
  }

  .about-left-content {
    width: 100%;
  }

  .bio {
    width: 100%;
  }

  .bio-content h2 {
    font-size: 1rem;
  }

  .bio-content .sub-text {
    font-size: 0.8rem;
  }

  .about-right-content {
    display: none;
  }

  .skills {
    gap: 3rem;
    grid-template-columns: repeat(1, 1fr);
  }
}
